In [2]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timezone
from sqlalchemy import create_engine
import psycopg2

In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 2.0 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [12]:
import logging

# Configure logger
logging.basicConfig(
    level=logging.INFO,
    format="%(asctime)s [%(levelname)s] %(message)s"
)

In [6]:
apple = yf.Ticker("AAPL")
dividends = apple.dividends
splits = apple.splits

In [7]:
dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2024-08-12 00:00:00-04:00    0.250000
2024-11-08 00:00:00-05:00    0.250000
2025-02-10 00:00:00-05:00    0.250000
2025-05-12 00:00:00-04:00    0.260000
2025-08-11 00:00:00-04:00    0.260000
Name: Dividends, Length: 88, dtype: float64

In [8]:
splits

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

In [5]:
data = yf.download("AAPL", start="2022-01-01", end="2022-12-31")
data

/tmp/ipykernel_1296/3539260211.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("AAPL", start="2022-01-01", end="2022-12-31")
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2022-01-03  178.443130  179.296091  174.227410  174.345053  104487900
2022-01-04  176.178391  179.354901  175.609755  179.050979   99310400
2022-01-05  171.492096  176.639212  171.217584  176.090189   94537600
2022-01-06  168.629303  171.864636  168.276357  169.315582   96904000
2022-01-07  168.795975  170.727370  167.678316  169.501866   86709100
...                ...         ...         ...         ...        ...
2022-12-23  130.026215  130.578424  127.837087  129.099285   63814900
2022-12-27  128.221664  129.582478  126.929885  129.552896   69007800
2022-12-28  124.287170  129.207773  124.119536  127.866686   85438400
2022-12-29  127.807518  128.665414  125.953666  126.210045   75703700
2022-12-30  128.123062  128.142788  125.657837  126.624212   77034200

[251 rows x 5 columns]

In [12]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 11.7 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [49]:
from sqlalchemy import create_engine
import psycopg2

In [57]:
from sqlalchemy import create_engine
import psycopg2

# Correct connection string for SQLAlchemy
conn_string = "postgresql://bigdata_jchai:bigdata_password8075jcci@postgres-warehouse:5432/financial_stock_dw"

# Create SQLAlchemy engine
db = create_engine(conn_string)
psql_conn = db.connect()

# Psycopg2 connection (still fine)
conn = psycopg2.connect(
    dbname="financial_stock_dw",
    user="bigdata_jchai",
    password="bigdata_password8075jcci",
    host="postgres-warehouse",
    port="5432"
)

conn.autocommit = True
cursor = conn.cursor()

In [60]:
# Drop table is exists
cursor.execute("""
    DROP TABLE IF EXISTS test;
""")

In [31]:
import yfinance as yf
import pandas as pd
import logging
from datetime import datetime
from zoneinfo import ZoneInfo  # ✅ Correct import

def extract_dividends_data(symbol):
    """
    Extracts dividend history for a given stock symbol using Yahoo Finance API.

    Parameters:
        symbol (str): Stock ticker symbol (e.g., 'AAPL', 'NVDA')

    Returns:
        pd.DataFrame: DataFrame containing dividend data with metadata
    """

    # ✅ use ZoneInfo here
    ingested_time = datetime.now(ZoneInfo("Asia/Bangkok"))

    try:
        ticker = yf.Ticker(symbol)
        dividends = ticker.dividends

        if dividends.empty:
            logging.warning(f"No dividend data found for {symbol}.")
            return pd.DataFrame(columns=["Date", "Dividends", "Symbol", "Ingested_Time"])

        dividends_df = dividends.reset_index()
        dividends_df["Symbol"] = symbol
        dividends_df["Ingested_Time"] = ingested_time

        print(f"The '{symbol}' dividends data extraction success!")
        logging.info(f"[{symbol}] Dividend data extracted successfully.")
        logging.info(f"Rows: {len(dividends_df)}, Columns: {len(dividends_df.columns)}")
        return dividends_df

    except Exception as e:
        print(f"The ERROR is: {e}")

# Example run
symbol = "NVDA"
df = extract_dividends_data(symbol)
print(df.head())

The 'NVDA' dividends data extraction success!
                       Date  Dividends Symbol                    Ingested_Time
0 2012-11-20 00:00:00-05:00   0.001875   NVDA 2025-11-14 00:43:36.845059+07:00
1 2013-02-26 00:00:00-05:00   0.001875   NVDA 2025-11-14 00:43:36.845059+07:00
2 2013-05-21 00:00:00-04:00   0.001875   NVDA 2025-11-14 00:43:36.845059+07:00
3 2013-08-20 00:00:00-04:00   0.001875   NVDA 2025-11-14 00:43:36.845059+07:00
4 2013-11-19 00:00:00-05:00   0.002125   NVDA 2025-11-14 00:43:36.845059+07:00

In [63]:
sql = '''
    CREATE SCHEMA IF NOT EXISTS test;
    '''
cursor.execute(sql)

In [64]:
sql = '''
    CREATE TABLE test.test_table (
        Date DATE,
        Dividends INTEGER,
        Symbol VARCHAR(10),
        Ingested_Time DATE
    )'''
cursor.execute(sql)

In [67]:
#  Load data to PostgreSQL
df.to_sql('test_table', psql_conn, schema="test", if_exists='replace', index=False)

52

In [70]:
# Commit and close
try:
    conn.commit()
    cursor.close()
    conn.close()
except Exception as e:
    print('The connection already closed')

The connection already closed

In [23]:
import yfinance as yf
import pandas as pd

symbols = ["NVDA", "MSFT", "GOOGL", "PLTR"]
dividend_data = []

for symbol in symbols:
    t = yf.Ticker(symbol)
    div = t.dividends.reset_index()
    div["symbol"] = symbol
    dividend_data.append(div)

df = pd.concat(dividend_data)
df.rename(columns={"Date": "Date", "Dividends": "Dividends"}, inplace=True)
df

                        Date  Dividends symbol
0  2012-11-20 00:00:00-05:00   0.001875   NVDA
1  2013-02-26 00:00:00-05:00   0.001875   NVDA
2  2013-05-21 00:00:00-04:00   0.001875   NVDA
3  2013-08-20 00:00:00-04:00   0.001875   NVDA
4  2013-11-19 00:00:00-05:00   0.002125   NVDA
..                       ...        ...    ...
1  2024-09-09 00:00:00-04:00   0.200000  GOOGL
2  2024-12-09 00:00:00-05:00   0.200000  GOOGL
3  2025-03-10 00:00:00-04:00   0.200000  GOOGL
4  2025-06-09 00:00:00-04:00   0.210000  GOOGL
5  2025-09-08 00:00:00-04:00   0.210000  GOOGL

[145 rows x 3 columns]

In [71]:
import yfinance as yf
meta = yf.Ticker("META")
print("Company Sector:", meta.info['sector'])
print("P/E Ratio:", meta.info['trailingPE'])
print("Company Beta:", meta.info['beta'])

Company Sector: Communication Services
P/E Ratio: 27.472826
Company Beta: 1.272

In [87]:
import yfinance as yf
meta = yf.Ticker("KO")
data = meta.history(period="max")
data[data["Dividends"] > 0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1962-03-13 00:00:00-05:00,0.042103,0.042442,0.042103,0.042442,1344000,0.001563,0.0
1962-06-11 00:00:00-04:00,0.037572,0.037800,0.037231,0.037345,2304000,0.001563,0.0
1962-09-11 00:00:00-04:00,0.038872,0.038872,0.038528,0.038757,537600,0.001563,0.0
1962-11-28 00:00:00-05:00,0.038117,0.038233,0.038002,0.038060,1420800,0.001563,0.0
1963-03-11 00:00:00-05:00,0.043283,0.043748,0.043108,0.043283,1075200,0.001758,0.0
...,...,...,...,...,...,...,...
2024-09-13 00:00:00-04:00,68.771572,69.383182,68.422090,69.324936,11073800,0.485000,0.0
2024-11-29 00:00:00-05:00,62.622103,62.847084,62.377565,62.680798,10648400,0.485000,0.0
2025-03-14 00:00:00-04:00,67.508601,68.247638,67.380496,68.149101,14205100,0.510000,0.0
2025-06-13 00:00:00-04:00,71.223769,71.332932,70.191691,70.479477,17467200,0.510000,0.0
2025-09-15 00:00:00-04:00,66.680000,66.779999,66.099998,66.209999,15986100,0.510000,0.0

In [25]:
import yfinance as yf
import pandas as pd

symbols = ["AAPL", "NVDA", "MSFT", "AMZN", "GOOGL", "GOOG"]

data_list = []

for symbol in symbols:
    ticker = yf.Ticker(symbol)
    info = ticker.info  # Full metadata

    data_list.append({
        "Exchange": info.get("exchange"),
        "Symbol": symbol,
        "Shortname": info.get("shortName"),
        "Longname": info.get("longName"),
        "Sector": info.get("sector"),
        "Industry": info.get("industry"),
        "Currentprice": info.get("currentPrice"),
        "Marketcap": info.get("marketCap"),
        "Ebitda": info.get("ebitda"),
        "Revenuegrowth": info.get("revenueGrowth"),
    })

df_1 = pd.DataFrame(data_list)
df_1

# ticker = "^GSPC"
# sp500 = yf.Ticker(ticker)
# df = pd.DataFrame(sp500.info)
# df

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,272.41,4033205501952,144748003328,0.079
1,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,190.17,4630069116928,98280996864,0.556
2,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,510.18,3791850569728,166436995072,0.184
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,234.69,2539781357568,139696996352,0.134
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,276.41,3364478255104,145174003712,0.159
5,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,276.98,3364478255104,145174003712,0.159

In [19]:
import pandas as pd

url = "https://www.slickcharts.com/sp500"
df = pd.read_html(url)[0]
df['Symbol'] = df['Symbol'].str.replace('.', '-', regex=False)  # fix BRK.B → BRK-B

sp500_list = df['Symbol'].values.tolist()
# sp500_list
df

,#,Company,Symbol,Weight,Price,Chg,% Chg
0,1,Nvidia,NVDA,7.58%,187.79,-2.38,(-1.25%)
1,2,Apple Inc.,AAPL,6.59%,269.28,-3.14,(-1.15%)
2,3,Microsoft,MSFT,6.29%,510.31,0.13,(0.02%)
3,4,Amazon,AMZN,4.13%,233.19,-1.50,(-0.64%)
4,5,Alphabet Inc. (Class A),GOOGL,2.99%,289.36,12.95,(4.69%)
...,...,...,...,...,...,...,...
498,499,Match Group,MTCH,0.01%,32.21,-0.07,(-0.23%)
499,500,Molina Healthcare,MOH,0.01%,140.65,3.11,(2.26%)
500,501,Solstice Advanced Materials Inc.,SOLS,0.01%,42.62,-0.94,(-2.16%)
501,502,Mohawk Industries,MHK,0.01%,105.42,-1.54,(-1.44%)
502,503,News Corp (Class B),NWS,0.01%,29.30,-0.26,(-0.88%)

In [4]:
# symbols = ["AAPL", "NVDA", "MSFT", "AMZN", "GOOGL", "GOOG"]

data_list = []

for symbol in sp500_list:
    ticker = yf.Ticker(symbol)
    info = ticker.info  # Full metadata

    data_list.append({
        "Exchange": info.get("exchange"),
        "Symbol": symbol,
        "Shortname": info.get("shortName"),
        "Longname": info.get("longName"),
        "Sector": info.get("sector"),
        "Industry": info.get("industry"),
        "Currentprice": info.get("currentPrice"),
        "Marketcap": info.get("marketCap"),
        "Ebitda": info.get("ebitda"),
        "Revenuegrowth": info.get("revenueGrowth"),
    })

df_1 = pd.DataFrame(data_list)
df_1

# ticker = "^GSPC"
# sp500 = yf.Ticker(ticker)
# df = pd.DataFrame(sp500.info)
# df

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth
0,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,187.1301,4563646021632,9.828100e+10,0.556
1,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,267.6050,3971213950976,1.447480e+11,0.079
2,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,507.0900,3769284165632,1.664370e+11,0.184
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,232.2750,2483069911040,1.396970e+11,0.134
4,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,288.0900,3489381220352,1.451740e+11,0.159
...,...,...,...,...,...,...,...,...,...,...
498,NMS,MTCH,"Match Group, Inc.","Match Group, Inc.",Communication Services,Internet Content & Information,32.0400,7709533696,1.053318e+09,0.021
499,NYQ,MOH,Molina Healthcare Inc,"Molina Healthcare, Inc.",Healthcare,Healthcare Plans,139.8150,7577973248,1.457000e+09,0.116
500,NMS,SOLS,Solstice Advanced Materials Inc,"Solstice Advanced Materials, Inc.",Basic Materials,Specialty Chemicals,43.1150,6843291136,9.850000e+08,0.068
501,NYQ,MHK,"Mohawk Industries, Inc.","Mohawk Industries, Inc.",Consumer Cyclical,"Furnishings, Fixtures & Appliances",105.4600,6552431616,1.321300e+09,0.014
502,NMS,NWS,News Corporation,News Corporation,Communication Services,Entertainment,29.2000,16328500224,1.148000e+09,0.023

In [ ]:
# multi_data = yf.download(sp500_list)   # no start, no end
# print(multi_data)

all_data = {}

for symbol in sp500_list:
    df = yf.download(symbol, period="max", interval="1m")
    df['Symbol'] = symbol

In [14]:
import yfinance as yf
interval="1m"
period="1h"
symbol = "NVDA"
sp500 = yf.Ticker(symbol)

# Historical daily prices
df = sp500.history(period="max")  # You can use '1y', '5y', 'max', etc.
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-01-22 00:00:00-05:00,0.040114,0.044770,0.035577,0.037607,2714688000,0.0,0.0
1999-01-25 00:00:00-05:00,0.040591,0.042024,0.037607,0.041547,510480000,0.0,0.0
1999-01-26 00:00:00-05:00,0.042024,0.042860,0.037726,0.038323,343200000,0.0,0.0
1999-01-27 00:00:00-05:00,0.038442,0.039398,0.036293,0.038204,244368000,0.0,0.0
1999-01-28 00:00:00-05:00,0.038204,0.038442,0.037845,0.038084,227520000,0.0,0.0
...,...,...,...,...,...,...,...
2025-11-11 00:00:00-05:00,195.160004,195.419998,191.300003,193.160004,176483300,0.0,0.0
2025-11-12 00:00:00-05:00,195.720001,195.889999,191.130005,193.800003,154935300,0.0,0.0
2025-11-13 00:00:00-05:00,191.050003,191.440002,183.850006,186.860001,207423100,0.0,0.0
2025-11-14 00:00:00-05:00,182.860001,191.009995,180.580002,190.169998,186019700,0.0,0.0
2025-11-17 00:00:00-05:00,185.899994,189.000000,184.929993,188.150101,77124337,0.0,0.0

In [31]:
sp500 = yf.Ticker(ticker)

# Company profile information
profile = sp500.info
profile

{'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 6734.11,
 'open': 6713.61,
 'dayLow': 6695.26,
 'dayHigh': 6754.5,
 'regularMarketPreviousClose': 6734.11,
 'regularMarketOpen': 6713.61,
 'regularMarketDayLow': 6695.26,
 'regularMarketDayHigh': 6754.5,
 'volume': 1100762000,
 'regularMarketVolume': 1100850000,
 'averageVolume': 5363721406,
 'averageVolume10days': 5588233000,
 'averageDailyVolume10Day': 5588233000,
 'bid': 6738.29,
 'ask': 6741.5,
 'bidSize': 0,
 'askSize': 0,
 'fiftyTwoWeekLow': 4835.04,
 'fiftyTwoWeekHigh': 6920.34,
 'allTimeHigh': 6920.34,
 'allTimeLow': 4.4,
 'fiftyDayAverage': 6704.168,
 'twoHundredDayAverage': 6148.4688,
 'currency': 'USD',
 'tradeable': False,
 '52WeekChange': 14.261019,
 'quoteType': 'INDEX',
 'symbol': '^GSPC',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Index',
 'quoteSourceName': 'Free Realtime Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'shortName': 'S&P 500',
 'marketState': 'REGULAR',
 'corporateActions': [],
 'regularMarketTime': 1763399523,
 'longName': 'S&P 500',
 'fiftyDayAverageChange': 35.611816,
 'fiftyDayAverageChangePercent': 0.005311892,
 'twoHundredDayAverageChange': 591.31104,
 'twoHundredDayAverageChangePercent': 0.09617208,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'cryptoTradeable': False,
 'regularMarketChange': 5.669922,
 'regularMarketDayRange': '6695.26 - 6754.5',
 'fullExchangeName': 'SNP',
 'averageDailyVolume3Month': 5363721406,
 'fiftyTwoWeekLowChange': 1904.7397,
 'fiftyTwoWeekLowChangePercent': 0.39394498,
 'fiftyTwoWeekRange': '4835.04 - 6920.34',
 'fiftyTwoWeekHighChange': -180.56006,
 'fiftyTwoWeekHighChangePercent': -0.026091212,
 'fiftyTwoWeekChangePercent': 14.261019,
 'regularMarketChangePercent': 0.08419467,
 'regularMarketPrice': 6739.78,
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': -1325583000000,
 'exchange': 'SNP',
 'messageBoardId': 'finmb_INDEXGSPC',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'gmtOffSetMilliseconds': -18000000,
 'market': 'us_market',
 'esgPopulated': False,
 'trailingPegRatio': None}

In [27]:
import yfinance as yf

df = yf.download(
    tickers=['NVDA', 'TSM'],
    period=None,        # <--- you choose
    interval="1d"       # <--- you choose
)
df

/tmp/ipykernel_9837/3262433376.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(
[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker            NVDA         TSM        NVDA         TSM        NVDA
Date
2025-10-17  183.220001  295.079987  184.100006  303.299988  179.750000
2025-10-20  182.639999  297.700012  185.199997  303.649994  181.729996
2025-10-21  181.160004  294.510010  182.789993  299.369995  179.800003
2025-10-22  180.279999  288.880005  183.440002  295.200012  176.759995
2025-10-23  182.160004  290.730011  183.029999  294.089996  179.789993
2025-10-24  186.259995  294.959991  187.470001  297.950012  183.500000
2025-10-27  191.490005  298.250000  192.000000  300.480011  188.429993
2025-10-28  201.029999  301.529999  203.149994  302.130005  191.910004
2025-10-29  207.039993  305.089996  212.190002  307.959991  204.779999
2025-10-30  202.889999  303.220001  206.160004  307.309998  201.410004
2025-10-31  202.490005  300.429993  207.970001  307.679993  202.070007
2025-11-03  206.880005  304.859985  211.339996  310.119995  205.559998
2025-11-04  198.690002  294.049988  203.970001  301.989990  197.929993
2025-11-05  195.210007  293.640015  202.919998  298.220001  194.649994
2025-11-06  188.080002  289.239990  197.619995  294.640015  186.380005
2025-11-07  188.149994  286.500000  188.320007  287.890015  178.910004
2025-11-10  199.050003  295.269989  199.940002  297.130005  193.789993
2025-11-11  193.160004  291.170013  195.419998  294.920013  191.300003
2025-11-12  193.800003  290.619995  195.889999  294.869995  191.130005
2025-11-13  186.860001  282.200012  191.440002  289.500000  183.850006
2025-11-14  190.169998  284.820007  191.009995  286.859985  180.580002
2025-11-17  188.020004  283.570007  189.000000  286.529999  184.929993

Price                         Open                 Volume
Ticker             TSM        NVDA         TSM       NVDA       TSM
Date
2025-10-17  294.920013  180.179993  298.399994  173135200  17633300
2025-10-20  297.059998  183.130005  300.000000  128544700  13391600
2025-10-21  293.660004  182.789993  299.000000  124240200  11190500
2025-10-22  284.399994  181.139999  293.000000  162249600  15409100
2025-10-23  289.630005  180.419998  289.799988  111363700  10379900
2025-10-24  294.390015  183.839996  295.570007  131296700   8747000
2025-10-27  293.690002  189.990005  298.649994  153452700  13615000
2025-10-28  296.079987  193.050003  298.320007  297986200  11804200
2025-10-29  302.380005  207.979996  305.799988  308829600  16177300
2025-10-30  300.820007  205.149994  303.079987  178864400  14507100
2025-10-31  296.679993  206.449997  305.989990  179802200  12667900
2025-11-03  302.119995  208.080002  302.589996  180267300  12466600
2025-11-04  293.510010  203.000000  296.880005  188919300  16224300
2025-11-05  291.500000  198.770004  292.619995  171350300  10502500
2025-11-06  287.380005  196.419998  294.100006  223029800  11516900
2025-11-07  277.130005  184.899994  285.209991  264942300  15715700
2025-11-10  291.750000  195.110001  294.359985  198897100  10869200
2025-11-11  288.910004  195.160004  292.059998  176483300   9666300
2025-11-12  289.579987  195.720001  293.700012  154935300   9715900
2025-11-13  280.000000  191.050003  289.170013  207423100  13827600
2025-11-14  273.230011  182.860001  275.910004  186019700  11473700
2025-11-17  280.410004  185.899994  281.440002   80372831   4994646

In [30]:
# Suppose your DataFrame is `df` from yf.download(multi-tickers)
final_df = df.stack(level=1).reset_index()
final_df.columns = ["Date", "Ticker", "Open", "High", "Low", "Close", "Volume"]
final_df

Price,Date,Ticker,Close,High,Low,Open,Volume
0,2025-10-17,NVDA,183.220001,184.100006,179.750000,180.179993,173135200
1,2025-10-17,TSM,295.079987,303.299988,294.920013,298.399994,17633300
2,2025-10-20,NVDA,182.639999,185.199997,181.729996,183.130005,128544700
3,2025-10-20,TSM,297.700012,303.649994,297.059998,300.000000,13391600
4,2025-10-21,NVDA,181.160004,182.789993,179.800003,182.789993,124240200
5,2025-10-21,TSM,294.510010,299.369995,293.660004,299.000000,11190500
6,2025-10-22,NVDA,180.279999,183.440002,176.759995,181.139999,162249600
7,2025-10-22,TSM,288.880005,295.200012,284.399994,293.000000,15409100
8,2025-10-23,NVDA,182.160004,183.029999,179.789993,180.419998,111363700
9,2025-10-23,TSM,290.730011,294.089996,289.630005,289.799988,10379900
10,2025-10-24,NVDA,186.259995,187.470001,183.500000,183.839996,131296700
11,2025-10-24,TSM,294.959991,297.950012,294.390015,295.570007,8747000
12,2025-10-27,NVDA,191.490005,192.000000,188.429993,189.990005,153452700
13,2025-10-27,TSM,298.250000,300.480011,293.690002,298.649994,13615000
14,2025-10-28,NVDA,201.029999,203.149994,191.910004,193.050003,297986200
15,2025-10-28,TSM,301.529999,302.130005,296.079987,298.320007,11804200
16,2025-10-29,NVDA,207.039993,212.190002,204.779999,207.979996,308829600
17,2025-10-29,TSM,305.089996,307.959991,302.380005,305.799988,16177300
18,2025-10-30,NVDA,202.889999,206.160004,201.410004,205.149994,178864400
19,2025-10-30,TSM,303.220001,307.309998,300.820007,303.079987,14507100
20,2025-10-31,NVDA,202.490005,207.970001,202.070007,206.449997,179802200
21,2025-10-31,TSM,300.429993,307.679993,296.679993,305.989990,12667900
22,2025-11-03,NVDA,206.880005,211.339996,205.559998,208.080002,180267300
23,2025-11-03,TSM,304.859985,310.119995,302.119995,302.589996,12466600
24,2025-11-04,NVDA,198.690002,203.970001,197.929993,203.000000,188919300
25,2025-11-04,TSM,294.049988,301.989990,293.510010,296.880005,16224300
26,2025-11-05,NVDA,195.210007,202.919998,194.649994,198.770004,171350300
27,2025-11-05,TSM,293.640015,298.220001,291.500000,292.619995,10502500
28,2025-11-06,NVDA,188.080002,197.619995,186.380005,196.419998,223029800
29,2025-11-06,TSM,289.239990,294.640015,287.380005,294.100006,11516900
30,2025-11-07,NVDA,188.149994,188.320007,178.910004,184.899994,264942300
31,2025-11-07,TSM,286.500000,287.890015,277.130005,285.209991,15715700
32,2025-11-10,NVDA,199.050003,199.940002,193.789993,195.110001,198897100
33,2025-11-10,TSM,295.269989,297.130005,291.750000,294.359985,10869200
34,2025-11-11,NVDA,193.160004,195.419998,191.300003,195.160004,176483300
35,2025-11-11,TSM,291.170013,294.920013,288.910004,292.059998,9666300
36,2025-11-12,NVDA,193.800003,195.889999,191.130005,195.720001,154935300
37,2025-11-12,TSM,290.619995,294.869995,289.579987,293.700012,9715900
38,2025-11-13,NVDA,186.860001,191.440002,183.850006,191.050003,207423100
39,2025-11-13,TSM,282.200012,289.500000,280.000000,289.170013,13827600
40,2025-11-14,NVDA,190.169998,191.009995,180.580002,182.860001,186019700
41,2025-11-14,TSM,284.820007,286.859985,273.230011,275.910004,11473700
42,2025-11-17,NVDA,188.020004,189.000000,184.929993,185.899994,80372831
43,2025-11-17,TSM,283.570007,286.529999,280.410004,281.440002,4994646

In [13]:
import yfinance as yf

# S&P 500 index ticker on Yahoo Finance
ticker = "^GSPC"
sp500 = yf.Ticker(ticker)

# Historical daily prices
df = sp500.history(period="max")  # You can use '1y', '5y', 'max', etc.
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-11-11 00:00:00-05:00,6815.640137,6855.129883,6806.870117,6846.609863,4983490000,0.0,0.0
2025-11-12 00:00:00-05:00,6867.770020,6869.910156,6829.620117,6850.919922,5293610000,0.0,0.0
2025-11-13 00:00:00-05:00,6826.470215,6828.049805,6724.720215,6737.490234,5473720000,0.0,0.0
2025-11-14 00:00:00-05:00,6672.140137,6774.310059,6646.870117,6734.109863,5042660000,0.0,0.0
2025-11-17 00:00:00-05:00,6713.609863,6754.500000,6695.259766,6744.129883,1046200000,0.0,0.0

In [8]:
!pip install lxml

Requirement already satisfied: lxml in /opt/conda/lib/python3.11/site-packages (6.0.2)

In [6]:
data = yf.download("AAPL", start="2020-01-01", end="2020-01-01", auto_adjust=True)
data

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: YFPricesMissingError('possibly delisted; no price data found  (1d 2020-01-01 -> 2020-01-01)')

Empty DataFrame
Columns: [(Adj Close, AAPL), (Close, AAPL), (High, AAPL), (Low, AAPL), (Open, AAPL), (Volume, AAPL)]
Index: []

In [13]:
from datetime import datetime, timedelta
from zoneinfo import ZoneInfo

# Define timezone
th_tz = ZoneInfo("Asia/Bangkok")

# Current Thailand time
x = datetime.now(th_tz)

# Shift 1 day back
y = x - timedelta(days=10)

print("Now (TH):", x)
print("Yesterday (TH):", y)

Now (TH): 2025-11-14 00:09:56.406407+07:00
Yesterday (TH): 2025-11-04 00:09:56.406407+07:00

In [19]:
data = yf.download("AAPL", start="2019-11-14", end=x, auto_adjust=True)
data

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2019-11-14   63.369617   63.910081   63.239325   63.637434   89182800
2019-11-15   64.122414   64.127237   63.458895   63.620548  100206400
2019-11-18   64.445740   64.525359   63.753269   64.132072   86703200
2019-11-19   64.250275   64.662860   64.033125   64.638731   76167200
2019-11-20   63.502338   64.199632   62.829167   64.069347  106234400
...                ...         ...         ...         ...        ...
2025-11-06  269.508728  273.135217  267.630574  267.630574   51204000
2025-11-07  268.209991  272.026299  266.511626  269.538690   48227400
2025-11-10  269.429993  273.730011  267.459991  268.959991   41312400
2025-11-11  275.250000  275.910004  269.799988  269.809998   46208300
2025-11-12  273.470001  275.730011  271.700012  275.000000   48359700

[1507 rows x 5 columns]

In [3]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [1]:
from datetime import datetime, timedelta
from zoneinfo import ZoneInfo
import yfinance as yf

# Define timezone
th_tz = ZoneInfo("Asia/Bangkok")

# Current Thailand time
x = datetime.now(th_tz)

# Shift 10 days back
y = x - timedelta(days=10)

print("Now (TH):", x)
print("10 days ago (TH):", y)

# Use datetime objects for yfinance
data = yf.download(
    "AAPL",
    start=y.strftime("%Y-%m-%d"),
    end=x.strftime("%Y-%m-%d"),
    auto_adjust=True
)

# Print the first few rows with datetime index
data

Now (TH): 2025-11-15 23:31:00.329847+07:00
10 days ago (TH): 2025-11-05 23:31:00.329847+07:00

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2025-11-05  269.878387  271.436874  266.671474  268.349840  43683100
2025-11-06  269.508728  273.135217  267.630574  267.630574  51204000
2025-11-07  268.209991  272.026299  266.511626  269.538690  48227400
2025-11-10  269.429993  273.730011  267.459991  268.959991  41312400
2025-11-11  275.250000  275.910004  269.799988  269.809998  46208300
2025-11-12  273.470001  275.730011  271.700012  275.000000  48398000
2025-11-13  272.950012  276.700012  272.089996  274.109985  49602800
2025-11-14  272.410004  275.959991  269.600006  271.049988  47399300

In [25]:
import great_expectations as gx
from great_expectations.checkpoint import (
    SlackNotificationAction,
    UpdateDataDocsAction,
)
import pandas as pd

In [27]:
import great_expectations as gx
from great_expectations.checkpoint import (
    SlackNotificationAction,
    UpdateDataDocsAction,
)

context = gx.get_context()

2025-11-09 16:06:54,122 [INFO] Could not find local file-backed GX project
2025-11-09 16:06:54,125 [INFO] Created temporary directory '/tmp/tmp18jbj2zh' for ephemeral docs site
2025-11-09 16:06:54,126 [INFO] Loading 'datasources' ->
[]

In [29]:
!python --version

Python 3.11.6

In [26]:
import yfinance as yf

# Define the ticker symbol
ticker_symbol = "AAPL"

# Create a Ticker object
ticker = yf.Ticker(ticker_symbol)

# Fetch historical market data
historical_data = ticker.history(period="5y")  # data for the last year
print("Historical Data:")
print(historical_data)

# Fetch basic financials
financials = ticker.financials
print("\nFinancials:")
print(financials)

# Fetch stock actions like dividends and splits
actions = ticker.actions
print("\nStock Actions:")
print(actions)

Historical Data:
                                 Open        High         Low       Close  \
Date
2020-11-13 00:00:00-05:00  116.269147  116.493037  114.740827  116.093925
2020-11-16 00:00:00-05:00  115.762954  117.778000  115.013399  117.106323
2020-11-17 00:00:00-05:00  116.376230  117.466492  115.801889  116.220474
2020-11-18 00:00:00-05:00  115.461195  116.639072  114.867389  114.896591
2020-11-19 00:00:00-05:00  114.468259  115.899235  113.708967  115.490387
...                               ...         ...         ...         ...
2025-11-07 00:00:00-05:00  269.538690  272.026299  266.511626  268.209991
2025-11-10 00:00:00-05:00  268.959991  273.730011  267.459991  269.429993
2025-11-11 00:00:00-05:00  269.809998  275.910004  269.799988  275.250000
2025-11-12 00:00:00-05:00  275.000000  275.730011  271.700012  273.470001
2025-11-13 00:00:00-05:00  274.269989  276.699005  272.179993  272.589996

                             Volume  Dividends  Stock Splits
Date
2020-11-13 00:00:00-05:00  81581900       0.00           0.0
2020-11-16 00:00:00-05:00  91183000       0.00           0.0
2020-11-17 00:00:00-05:00  74271000       0.00           0.0
2020-11-18 00:00:00-05:00  76322100       0.00           0.0
2020-11-19 00:00:00-05:00  74113000       0.00           0.0
...                             ...        ...           ...
2025-11-07 00:00:00-05:00  48227400       0.00           0.0
2025-11-10 00:00:00-05:00  41312400       0.26           0.0
2025-11-11 00:00:00-05:00  46208300       0.00           0.0
2025-11-12 00:00:00-05:00  48359700       0.00           0.0
2025-11-13 00:00:00-05:00  20629504       0.00           0.0

[1256 rows x 7 columns]

Financials:
                                                      2025-09-30  \
Tax Effect Of Unusual Items                         0.000000e+00
Tax Rate For Calcs                                  1.560000e-01
Normalized EBITDA                                   1.447480e+11
Net Income From Continuing Operation Net Minori...  1.120100e+11
Reconciled Depreciation                             1.169800e+10
Reconciled Cost Of Revenue                          2.209600e+11
EBITDA                                              1.447480e+11
EBIT                                                1.330500e+11
Net Interest Income                                          NaN
Interest Expense                                             NaN
Interest Income                                              NaN
Normalized Income                                   1.120100e+11
Net Income From Continuing And Discontinued Ope...  1.120100e+11
Total Expenses                                      2.831110e+11
Total Operating Income As Reported                  1.330500e+11
Diluted Average Shares                              1.500470e+10
Basic Average Shares                                1.494850e+10
Diluted EPS                                         7.460000e+00
Basic EPS                                           7.490000e+00
Diluted NI Availto Com Stockholders                 1.120100e+11
Net Income Common Stockholders                      1.120100e+11
Net Income                                          1.120100e+11
Net Income Including Noncontrolling Interests       1.120100e+11
Net Income Continuous Operations                    1.120100e+11
Tax Provision                                       2.071900e+10
Pretax Income                                       1.327290e+11
Other Income Expense                               -3.210000e+08
Other Non Operating Income Expenses                -3.210000e+08
Net Non Operating Interest Income Expense                    NaN
Interest Expense Non Operating                               NaN
Interest Income Non Operating                                NaN
Operating Income                                    1.330500e+11
Operating Expense                                   6.215100e+10
Research And Development                            3.455000e+10
Selling General And Administration                  2.760100e+10
Gross Profit                                        1.952010e+11
Cost Of Revenue                                     2.209600e+11
Total Revenue                                       4.161610e+11
Operating Revenue                                   4.161610e+11

                                                      2024-09-30  \
Tax Effect Of Unusual Items                         0.000000e+00
Tax Rate For Calcs                                  2.410000e-01
Normalized EBITDA                                   1.346610e+11
Net Income From Continuing Operation Net Minori...  9.373600e+10
Reconciled Depreciation                             1.144500e+10
Reconciled Cost Of Revenue                          2.103520e+11
EBITDA                                              1.346610e+11
EBIT                                                1.232160e+11
Net Interest Income                                          NaN
Interest Expense                                             NaN
Interest Income                                              NaN
Normalized Income                                   9.373600e+10
Net Income From Continuing And Discontinued Ope...  9.373600e+10
Total Expenses                                      2.678190e+11
Total Operating Income As Reported                  1.232160e+11
Diluted Average Shares                              1.540810e+10
Basic Average Shares                                1.534378e+10
Diluted EPS                                         6.080000e+00
Basic EPS                                           6.110000e+00
Diluted NI Availto Com Stockholders                 9.373600e+10
Net Income Common Stockholders                      9.373600e+10
Net Income                                          9.373600e+10
Net Income Including Noncontrolling Interests       9.373600e+10
Net Income Continuous Operations                    9.373600e+10
Tax Provision                                       2.974900e+10
Pretax Income                                       1.234850e+11
Other Income Expense                                2.690000e+08
Other Non Operating Income Expenses                 2.690000e+08
Net Non Operating Interest Income Expense                    NaN
Interest Expense Non Operating                               NaN
Interest Income Non Operating                                NaN
Operating Income                                    1.232160e+11
Operating Expense                                   5.746700e+10
Research And Development                            3.137000e+10
Selling General And Administration                  2.609700e+10
Gross Profit                                        1.806830e+11
Cost Of Revenue                                     2.103520e+11
Total Revenue                                       3.910350e+11
Operating Revenue                                   3.910350e+11

                                                      2023-09-30  \
Tax Effect Of Unusual Items                         0.000000e+00
Tax Rate For Calcs                                  1.470000e-01
Normalized EBITDA                                   1.258200e+11
Net Income From Continuing Operation Net Minori...  9.699500e+10
Reconciled Depreciation                             1.151900e+10
Reconciled Cost Of Revenue                          2.141370e+11
EBITDA                                              1.258200e+11
EBIT                                                1.143010e+11
Net Interest Income                                -1.830000e+08
Interest Expense                                    3.933000e+09
Interest Income                                     3.750000e+09
Normalized Income                                   9.699500e+10
Net Income From Continuing And Discontinued Ope...  9.699500e+10
Total Expenses                                      2.689840e+11
Total Operating Income As Reported                  1.143010e+11
Diluted Average Shares                              1.581255e+10
Basic Average Shares                                1.574423e+10
Diluted EPS                                         6.130000e+00
Basic EPS                                           6.160000e+00
Diluted NI Availto Com Stockholders                 9.699500e+10
Net Income Common Stockholders                      9.699500e+10
Net Income                                          9.699500e+10
Net Income Including Noncontrolling Interests       9.699500e+10
Net Income Continuous Operations                    9.699500e+10
Tax Provision                                       1.674100e+10
Pretax Income                                       1.137360e+11
Other Income Expense                               -5.650000e+08
Other Non Operating Income Expenses                -5.650000e+08
Net Non Operating Interest Income Expense          -1.830000e+08
Interest Expense Non Operating                      3.933000e+09
Interest Income Non Operating                       3.750000e+09
Operating Income                                    1.143010e+11
Operating Expense                                   5.484700e+10
Research And Development                            2.991500e+10
Selling General And Administration                  2.493200e+10
Gross Profit                                        1.691480e+11
Cost Of Revenue                                     2.141370e+11
Total Revenue                                       3.832850e+11
Operating Revenue                                   3.832850e+11

                                                      2022-09-30    2021-09-30
Tax Effect Of Unusual Items                         0.000000e+00           NaN
Tax Rate For Calcs                                  1.620000e-01           NaN
Normalized EBITDA                                   1.305410e+11           NaN
Net Income From Continuing Operation Net Minori...  9.980300e+10           NaN
Reconciled Depreciation                             1.110400e+10           NaN
Reconciled Cost Of Revenue                          2.235460e+11           NaN
EBITDA                                              1.305410e+11           NaN
EBIT                                                1.194370e+11           NaN
Net Interest Income                                -1.060000e+08  1.980000e+08
Interest Expense                                    2.931000e+09  2.645000e+09
Interest Income                                     2.825000e+09  2.843000e+09
Normalized Income                                   9.980300e+10           NaN
Net Income From Continuing And Discontinued Ope...  9.980300e+10           NaN
Total Expenses                                      2.748910e+11           NaN
Total Operating Income As Reported                  1.194370e+11           NaN
Diluted Average Shares                              1.632582e+10           NaN
Basic Average Shares                                1.621596e+10           NaN
Diluted EPS                                         6.110000e+00           NaN
Basic EPS                                           6.150000e+00           NaN
Diluted NI Availto Com Stockholders                 9.980300e+10           NaN
Net Income Common Stockholders                      9.980300e+10           NaN
Net Income                                          9.980300e+10           NaN
Net Income Including Noncontrolling Interests       9.980300e+10           NaN
Net Income Continuous Operations                    9.980300e+10           NaN
Tax Provision                                       1.930000e+10           NaN
Pretax Income                                       1.191030e+11           NaN
Other Income Expense                               -3.340000e+08           NaN
Other Non Operating Income Expenses                -3.340000e+08           NaN
Net Non Operating Interest Income Expense          -1.060000e+08  1.980000e+08
Interest Expense Non Operating                      2.931000e+09  2.645000e+09
Interest Income Non Operating                       2.825000e+09  2.843000e+09
Operating Income                                    1.194370e+11           NaN
Operating Expense                                   5.134500e+10           NaN
Research And Development                            2.625100e+10           NaN
Selling General And Administration                  2.509400e+10           NaN
Gross Profit                                        1.707820e+11           NaN
Cost Of Revenue                                     2.235460e+11           NaN
Total Revenue                                       3.943280e+11           NaN
Operating Revenue                                   3.943280e+11           NaN

Stock Actions:
                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2024-11-08 00:00:00-05:00   0.250000           0.0
2025-02-10 00:00:00-05:00   0.250000           0.0
2025-05-12 00:00:00-04:00   0.260000           0.0
2025-08-11 00:00:00-04:00   0.260000           0.0
2025-11-10 00:00:00-05:00   0.260000           0.0

[94 rows x 2 columns]

In [28]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-11-13 00:00:00-05:00,116.269147,116.493037,114.740827,116.093925,81581900,0.00,0.0
2020-11-16 00:00:00-05:00,115.762954,117.778000,115.013399,117.106323,91183000,0.00,0.0
2020-11-17 00:00:00-05:00,116.376230,117.466492,115.801889,116.220474,74271000,0.00,0.0
2020-11-18 00:00:00-05:00,115.461195,116.639072,114.867389,114.896591,76322100,0.00,0.0
2020-11-19 00:00:00-05:00,114.468259,115.899235,113.708967,115.490387,74113000,0.00,0.0
...,...,...,...,...,...,...,...
2025-11-07 00:00:00-05:00,269.538690,272.026299,266.511626,268.209991,48227400,0.00,0.0
2025-11-10 00:00:00-05:00,268.959991,273.730011,267.459991,269.429993,41312400,0.26,0.0
2025-11-11 00:00:00-05:00,269.809998,275.910004,269.799988,275.250000,46208300,0.00,0.0
2025-11-12 00:00:00-05:00,275.000000,275.730011,271.700012,273.470001,48359700,0.00,0.0
2025-11-13 00:00:00-05:00,274.269989,276.699005,272.179993,272.589996,20629504,0.00,0.0

In [24]:
actions

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2024-11-08 00:00:00-05:00   0.250000           0.0
2025-02-10 00:00:00-05:00   0.250000           0.0
2025-05-12 00:00:00-04:00   0.260000           0.0
2025-08-11 00:00:00-04:00   0.260000           0.0
2025-11-10 00:00:00-05:00   0.260000           0.0

[94 rows x 2 columns]

In [9]:
apple = yf.Ticker("AAPL")
apple.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '(408) 996-1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple Vision Pro, Apple TV, Apple Watch, Beats products, and HomePod, as well as Apple branded and third-party accessories. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts, as well as advertising services include third-party licensing arrangements and its own advertising platforms. In addition, the company offers various subscription-based services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV, which offers exclusive original content and live sports; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers and resellers. The company was formerly known as Apple Computer, Inc. and changed its name to Apple Inc. in January 2007. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 166000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 63,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2024,
   'totalPay': 16520856,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 60,
   'title': 'Senior VP & General Counsel',
   'yearBorn': 1964,
   'fiscalYear': 2024,
   'totalPay': 5022182,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 57,
   'title': 'Senior Vice President of Retail & People',
   'yearBorn': 1967,
   'fiscalYear': 2024,
   'totalPay': 5022182,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 60,
   'title': 'Senior Vice President of Design, Watch, & Health',
   'yearBorn': 1964,
   'fiscalYear': 2024,
   'totalPay': 5020737,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kevan  Parekh',
   'age': 52,
   'title': 'Senior VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sabih  Khan',
   'title': 'Chief Operating Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Kristin Huguet Quayle',
   'title': 'Vice President of Worldwide Communications',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 7,
 'boardRisk': 1,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1761955200,
 'compensationAsOfEpochDate': 1735603200,
 'irWebsite': 'http://investor.apple.com/',
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 272.41,
 'open': 268.72,
 'dayLow': 266.65,
 'dayHigh': 270.49,
 'regularMarketPreviousClose': 272.41,
 'regularMarketOpen': 268.72,
 'regularMarketDayLow': 266.65,
 'regularMarketDayHigh': 270.49,
 'dividendRate': 1.04,
 'dividendYield': 0.38,
 'exDividendDate': 1762732800,
 'payoutRatio': 0.1367,
 'fiveYearAvgDividendYield': 0.53,
 'beta': 1.109,
 'trailingPE': 35.956432,
 'forwardPE': 32.278576,
 'volume': 15972996,
 'regularMarketVolume': 15972996,
 'averageVolume': 50386496,
 'averageVolume10days': 47550470,
 'averageDailyVolume10Day': 47550470,
 'bid': 266.03,
 'ask': 271.48,
 'bidSize': 4,
 'askSize': 2,
 'marketCap': 3980711690240,
 'fiftyTwoWeekLow': 169.21,
 'fiftyTwoWeekHigh': 277.32,
 'allTimeHigh': 277.32,
 'allTimeLow': 0.049107,
 'priceToSalesTrailing12Months': 9.565316,
 'fiftyDayAverage': 255.9264,
 'twoHundredDayAverage': 225.3758,
 'trailingAnnualDividendRate': 1.02,
 'trailingAnnualDividendYield': 0.0037443559,
 'currency': 'USD',
 'tradeable': False,
 'enterpriseValue': 4082906431488,
 'profitMargins': 0.26915002,
 'floatShares': 14750642146,
 'sharesOutstanding': 14776353000,
 'sharesShort': 115557836,
 'sharesShortPriorMonth': 110777598,
 'sharesShortPreviousMonthDate': 1759190400,
 'dateShortInterest': 1761868800,
 'sharesPercentSharesOut': 0.0078,
 'heldPercentInsiders': 0.016970001,
 'heldPercentInstitutions': 0.64268994,
 'shortRatio': 2.44,
 'shortPercentOfFloat': 0.0078,
 'impliedSharesOutstanding': 14840390000,
 'bookValue': 4.991,
 'priceToBook': 53.743732,
 'lastFiscalYearEnd': 1758931200,
 'nextFiscalYearEnd': 1790467200,
 'mostRecentQuarter': 1758931200,
 'earningsQuarterlyGrowth': 0.864,
 'netIncomeToCommon': 112010002432,
 'trailingEps': 7.46,
 'forwardEps': 8.31,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 9.811,
 'enterpriseToEbitda': 28.207,
 '52WeekChange': 0.19467592,
 'SandP52WeekChange': 0.14261019,
 'lastDividendValue': 0.26,
 'lastDividendDate': 1762732800,
 'quoteType': 'EQUITY',
 'currentPrice': 268.235,
 'targetHighPrice': 345.0,
 'targetLowPrice': 215.0,
 'targetMeanPrice': 281.06512,
 'targetMedianPrice': 277.0,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 41,
 'totalCash': 54697000960,
 'totalCashPerShare': 3.702,
 'ebitda': 144748003328,
 'totalDebt': 112377004032,
 'quickRatio': 0.771,
 'currentRatio': 0.893,
 'totalRevenue': 416161005568,
 'debtToEquity': 152.411,
 'revenuePerShare': 27.84,
 'returnOnAssets': 0.22964,
 'returnOnEquity': 1.7142199,
 'grossProfits': 195201007616,
 'freeCashflow': 78862254080,
 'operatingCashflow': 111482003456,
 'earningsGrowth': 0.912,
 'revenueGrowth': 0.079,
 'grossMargins': 0.46905,
 'ebitdaMargins': 0.34782,
 'operatingMargins': 0.31647,
 'financialCurrency': 'USD',
 'symbol': 'AAPL',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'hasPrePostMarketData': True,
 'firstTradeDateMilliseconds': 345479400000,
 'regularMarketChange': -4.1750183,
 'regularMarketDayRange': '266.65 - 270.49',
 'fullExchangeName': 'NasdaqGS',
 'averageDailyVolume3Month': 50386496,
 'fiftyTwoWeekLowChange': 99.02498,
 'fiftyTwoWeekLowChangePercent': 0.5852194,
 'fiftyTwoWeekRange': '169.21 - 277.32',
 'fiftyTwoWeekHighChange': -9.085022,
 'fiftyTwoWeekHighChangePercent': -0.032760065,
 'fiftyTwoWeekChangePercent': 19.467592,
 'dividendDate': 1762992000,
 'earningsTimestamp': 1761854400,
 'earningsTimestampStart': 1769720400,
 'earningsTimestampEnd': 1769720400,
 'earningsCallTimestampStart': 1761858000,
 'earningsCallTimestampEnd': 1761858000,
 'isEarningsDateEstimate': True,
 'epsTrailingTwelveMonths': 7.46,
 'epsForward': 8.31,
 'epsCurrentYear': 8.20575,
 'priceEpsCurrentYear': 32.68866,
 'fiftyDayAverageChange': 12.3085785,
 'fiftyDayAverageChangePercent': 0.04809421,
 'exchange': 'NMS',
 'messageBoardId': 'finmb_24937',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'gmtOffSetMilliseconds': -18000000,
 'market': 'us_market',
 'esgPopulated': False,
 'regularMarketChangePercent': -1.5326229,
 'regularMarketPrice': 268.235,
 'corporateActions': [],
 'regularMarketTime': 1763397112,
 'twoHundredDayAverageChange': 42.85919,
 'twoHundredDayAverageChangePercent': 0.19016768,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'averageAnalystRating': '2.0 - Buy',
 'cryptoTradeable': False,
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'marketState': 'REGULAR',
 'displayName': 'Apple',
 'trailingPegRatio': 2.7567}

In [3]:
import psycopg2

In [4]:
def query_data_from_postgers():
    """ Retrieve data from the vendors table """
    # Correct connection string for SQLAlchemy
    conn_string = "postgresql://bigdata_jchai:bigdata_password8075jcci@postgres-warehouse:5432/financial_stock_dw"
    
    # Create SQLAlchemy engine
    db = create_engine(conn_string)
    psql_conn = db.connect()
    try:
        with db.cursor() as cur:
            cur.execute("select * from raw_finance_stock.finance_stock_sp500_price_hist;")
            print("The number of parts: ", cur.rowcount)
            row = cur.fetchone()

            while row is not None:
                print(row)
                row = cur.fetchone()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [5]:
query_data_from_postgers()

'Engine' object has no attribute 'cursor'

In [6]:
conn = psycopg2.connect(
    dbname="financial_stock_dw",
    user="bigdata_jchai",
    password="bigdata_password8075jcci",
    host="postgres-warehouse",
    port="5432"
)

In [7]:
pd.read_sql('select * from raw_finance_stock.finance_stock_sp500_price_hist;', conn)

/tmp/ipykernel_3541/662658339.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('select * from raw_finance_stock.finance_stock_sp500_price_hist;', conn)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Ingested_Time
0,2025-11-17 05:00:00+00:00,185.959645,188.989475,184.309743,186.589615,173628900,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
1,2025-11-18 05:00:00+00:00,183.369791,184.789710,179.639988,181.349899,213598900,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
2,2025-11-19 05:00:00+00:00,184.779698,187.849535,182.819816,186.509613,247246400,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
3,2025-11-20 05:00:00+00:00,195.939089,195.989089,179.839995,180.629944,343504800,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
4,2025-11-21 05:00:00+00:00,181.229910,184.549717,172.920360,178.870041,346926200,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
...,...,...,...,...,...,...,...,...,...,...
10938,2025-12-11 05:00:00+00:00,29.620001,30.040001,29.370001,29.559999,760800,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10939,2025-12-12 05:00:00+00:00,29.650000,29.969999,29.629999,29.660000,723600,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10940,2025-12-15 05:00:00+00:00,30.030001,30.030001,29.250000,29.270000,1777000,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10941,2025-12-16 05:00:00+00:00,29.320000,29.530001,29.139999,29.480000,1301200,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10942,2025-12-17 05:00:00+00:00,29.430000,29.860001,29.270000,29.490000,171695,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00

In [20]:
from sqlalchemy import create_engine

def get_postgres_connection():
    """
    Establish a connection to the PostgreSQL database using SQLAlchemy.
    """

    # Environment Variables (set in docker-compose.yaml or Airflow Variables)
    POSTGRES_ROOT_USERNAME = "bigdata_jchai"
    POSTGRES_ROOT_PASSWORD = "bigdata_password8075jcci"

    POSTGRES_HOST = "postgres-warehouse"
    POSTGRES_PORT = 5432
    POSTGRES_DB = "financial_stock_dw"

    # Correct connection string for SQLAlchemy
    conn_string = (
        f"postgresql+psycopg2://{POSTGRES_ROOT_USERNAME}:"
        f"{POSTGRES_ROOT_PASSWORD}@{POSTGRES_HOST}:"
        f"{POSTGRES_PORT}/{POSTGRES_DB}"
    )

    # Create SQLAlchemy engine
    engine = create_engine(conn_string)
    # psql_conn = engine.connect()
    return conn_string, engine

conn = get_postgres_connection()[1]

In [30]:
# def read_sql_from_postgres(query):
query = """
                SELECT "Date", "Open", "High", "Low", "Close", "Volume", "Dividends", "Stock Splits", "Symbol"
                FROM raw_finance_stock.finance_stock_sp500_price_hist;
            """
df = pd.read_sql(query, conn)
df
    # return df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
0,2025-11-17 05:00:00+00:00,185.959645,188.989475,184.309743,186.589615,173628900,0.0,0.0,NVDA
1,2025-11-18 05:00:00+00:00,183.369791,184.789710,179.639988,181.349899,213598900,0.0,0.0,NVDA
2,2025-11-19 05:00:00+00:00,184.779698,187.849535,182.819816,186.509613,247246400,0.0,0.0,NVDA
3,2025-11-20 05:00:00+00:00,195.939089,195.989089,179.839995,180.629944,343504800,0.0,0.0,NVDA
4,2025-11-21 05:00:00+00:00,181.229910,184.549717,172.920360,178.870041,346926200,0.0,0.0,NVDA
...,...,...,...,...,...,...,...,...,...
10938,2025-12-11 05:00:00+00:00,29.620001,30.040001,29.370001,29.559999,760800,0.0,0.0,NWS
10939,2025-12-12 05:00:00+00:00,29.650000,29.969999,29.629999,29.660000,723600,0.0,0.0,NWS
10940,2025-12-15 05:00:00+00:00,30.030001,30.030001,29.250000,29.270000,1777000,0.0,0.0,NWS
10941,2025-12-16 05:00:00+00:00,29.320000,29.530001,29.139999,29.480000,1301200,0.0,0.0,NWS
10942,2025-12-17 05:00:00+00:00,29.430000,29.860001,29.270000,29.490000,171695,0.0,0.0,NWS

In [12]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Ingested_Time
0,2025-11-17 05:00:00+00:00,185.959645,188.989475,184.309743,186.589615,173628900,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
1,2025-11-18 05:00:00+00:00,183.369791,184.789710,179.639988,181.349899,213598900,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
2,2025-11-19 05:00:00+00:00,184.779698,187.849535,182.819816,186.509613,247246400,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
3,2025-11-20 05:00:00+00:00,195.939089,195.989089,179.839995,180.629944,343504800,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
4,2025-11-21 05:00:00+00:00,181.229910,184.549717,172.920360,178.870041,346926200,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
...,...,...,...,...,...,...,...,...,...,...
10938,2025-12-11 05:00:00+00:00,29.620001,30.040001,29.370001,29.559999,760800,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10939,2025-12-12 05:00:00+00:00,29.650000,29.969999,29.629999,29.660000,723600,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10940,2025-12-15 05:00:00+00:00,30.030001,30.030001,29.250000,29.270000,1777000,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10941,2025-12-16 05:00:00+00:00,29.320000,29.530001,29.139999,29.480000,1301200,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10942,2025-12-17 05:00:00+00:00,29.430000,29.860001,29.270000,29.490000,171695,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00

In [22]:
df = pd.read_sql_table(
    table_name="finance_stock_sp500_price_hist",
    con=conn,
    schema="raw_finance_stock"  # change if needed
)

In [23]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Ingested_Time
0,2025-11-17 05:00:00+00:00,185.959645,188.989475,184.309743,186.589615,173628900,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
1,2025-11-18 05:00:00+00:00,183.369791,184.789710,179.639988,181.349899,213598900,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
2,2025-11-19 05:00:00+00:00,184.779698,187.849535,182.819816,186.509613,247246400,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
3,2025-11-20 05:00:00+00:00,195.939089,195.989089,179.839995,180.629944,343504800,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
4,2025-11-21 05:00:00+00:00,181.229910,184.549717,172.920360,178.870041,346926200,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
...,...,...,...,...,...,...,...,...,...,...
10938,2025-12-11 05:00:00+00:00,29.620001,30.040001,29.370001,29.559999,760800,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10939,2025-12-12 05:00:00+00:00,29.650000,29.969999,29.629999,29.660000,723600,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10940,2025-12-15 05:00:00+00:00,30.030001,30.030001,29.250000,29.270000,1777000,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10941,2025-12-16 05:00:00+00:00,29.320000,29.530001,29.139999,29.480000,1301200,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10942,2025-12-17 05:00:00+00:00,29.430000,29.860001,29.270000,29.490000,171695,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00

In [24]:
def query_data_postgres(query: str) -> pd.DataFrame:
    """
    Execute a SQL query and return the results as a Pandas DataFrame.

    Parameters:
        query (str): SQL query to execute
    Returns:
        pd.DataFrame: Query results as DataFrame
    """

    try:
        engine = get_postgres_connection()[1] # Get the engine from the connection tuple
        df = pd.read_sql_query(query, engine)
        return df
    except Exception as e:
        print(f"Query failed: {e}", exc_info=True)
        raise

In [26]:
query = 'select * from raw_finance_stock.finance_stock_sp500_price_hist;'
df = query_data_postgres(query)
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Ingested_Time
0,2025-11-17 05:00:00+00:00,185.959645,188.989475,184.309743,186.589615,173628900,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
1,2025-11-18 05:00:00+00:00,183.369791,184.789710,179.639988,181.349899,213598900,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
2,2025-11-19 05:00:00+00:00,184.779698,187.849535,182.819816,186.509613,247246400,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
3,2025-11-20 05:00:00+00:00,195.939089,195.989089,179.839995,180.629944,343504800,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
4,2025-11-21 05:00:00+00:00,181.229910,184.549717,172.920360,178.870041,346926200,0.0,0.0,NVDA,2025-12-17 17:00:25.768287+00:00
...,...,...,...,...,...,...,...,...,...,...
10938,2025-12-11 05:00:00+00:00,29.620001,30.040001,29.370001,29.559999,760800,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10939,2025-12-12 05:00:00+00:00,29.650000,29.969999,29.629999,29.660000,723600,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10940,2025-12-15 05:00:00+00:00,30.030001,30.030001,29.250000,29.270000,1777000,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10941,2025-12-16 05:00:00+00:00,29.320000,29.530001,29.139999,29.480000,1301200,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00
10942,2025-12-17 05:00:00+00:00,29.430000,29.860001,29.270000,29.490000,171695,0.0,0.0,NWS,2025-12-17 17:00:25.768287+00:00

In [28]:
conn.execute("""
select * from raw_finance_stock.finance_stock_sp500_price_hist;
""")

AttributeError: 'Engine' object has no attribute 'execute'